*{
    padding: 0;
    margin: 0;
    font-family: 'Lucida Sans';
}

.container{
    width: 500px;
    margin: 100px auto;
    text-align: center;
}

.container h1{
    margin: 30px auto;
    padding-bottom: 10px;
    border-bottom: 2px solid rgb(146, 143, 143);
}

.otp-inputs{
    width: 25px;
    padding: 5px 2px;
    margin: 5px;
    text-align: center;
}

.container button{
    cursor: pointer;
    margin: 30px auto;
    width: 60%;
    padding: 8px 0;
    border-radius: 20px;
    font-size: 18px;
    background-color: rgb(7, 60, 7);
    color: white;
    border: 2px solid rgb(7, 60, 7);
    
}
